// index, search
.Index-side-field {
  width: 100%;
  .Side-header {
    height: $header-iphone;
    line-height: $header-iphone;
    .Side-box {
      padding: 10px 20px 0;
      font-size: 30px;
      &__search {
        .Search-form {
          &__area {
            height: 40px;
            border: 1px solid $font-inactive;
            border-radius: 1em;
            padding: 0 15px;
            outline: none;
            background-color: $field;
            color: $font;
            font-size: 24px;
          }
          &__area:hover {
            border: 1px solid $font;
          }
          &__area::placeholder {
            color: $font-inactive;
          }
        }
      }
    }
  }
  .Side-content {
    height: calc(100% - #{$header-iphone});
  .Content-list {
      .Content {
        &__title,
        &__first {
          font-size: 20px;
        }
      }
    }
  }
}
.Index-main-field {
  display: none;
}

// new, edit, show
.iPhone-side-field {
  display: none;
}
.Main-field {
  width: 100%;
  .Edit-btn {
    font-size: 30px;
  }
  .Memo {
    .Main-header {
      .Title {
        width: 100%;
        text-align: right;
        background-color: $field-active;
      }
    }
    .Memo-field {
      .submit-btn {
        visibility: hidden;
      }
    }
  }
  .Confirm {
    .confirm-message {
      width: 120px;
      right: 0;
      top: $header;
      border: 1px solid $font;
      border-radius: 1em;
      font-size: 16px;
    }
  }
}

.Title-form {
  height: inherit;
  width: calc(100% - 100px);
  padding: 0 25px;
  margin-right: 50px;
  font-size: 28px;
  font-weight: bold;
}
.Memo-form {
  height: 100%;
  width: inherit;
  padding: 45px 15px 15px;
  font-size: 20px;
}

.fa-chevron-left {
  display: initial;
  visibility: visible;
  font-size: 30px;
  position: absolute;
  right: calc(100vw - 45px);
  top: -60px;
}