:root{
  @media (prefers-color-scheme: light) {
  // フォントカラー
  --font: #555;
  --font-inactive: #999;

  // アクセントカラー
  --accent: #e7b964;

  // Fieldカラー
  --field: #F8F8F8;
  --field-active: #F5F5F5;
  --field-border: #DDD;
  }
  @media (prefers-color-scheme: dark) {
  // フォントカラー
  --font: #B4B4B4;
  --font-inactive: #888;

  // アクセントカラー
  --accent: #e3b46b;

  // Fieldカラー
  --field: #242424;
  --field-active: #2f2f2f;
  --field-border: #3A3A3A;
  }
}

// フォント
$font: var(--font);
$font-inactive: var(--font-inactive);

// アクセントカラー
$accent: var(--accent);

// Fieldカラー
$field: var(--field);
$field-active: var(--field-active);
$field-border: var(--field-border);


// リンクカラー
a {
  transition: color 0.15s;
  text-decoration: none;
}
a:hover {
  color: $font;
}
a, a:active {
  color: $font-inactive;
}

/* auto complete(chrome) */
input:-webkit-autofill {
  /* 背景色(background-colorではなくbox-shadow) */
  -webkit-box-shadow: 0 0 0 1000px $field inset;

  /* 文字色(colorではなく-webkit-text-fill-color) */
  -webkit-text-fill-color: $font !important;
  /* 点滅しているアイツことカーソルくんの色(caret-color) */
  caret-color: $font;
}