:root{
  @media (prefers-color-scheme: light) {
    --font: #333;
    --font-inactive: #999;

    --field: #F8F8F8;
    --field-active: #FCFCFC;
    --field-border: #DDD;
  }
  @media (prefers-color-scheme: dark) {
  // フォントカラー
  --font: #DCDCDC;
  --font-inactive: #878787;

    // Fieldカラー
  --field: #242424;
  --field-active: #CC942E;
  --field-border: #3A3A3A;
 }
}

// フォント
$font: var(--font);
$font-inactive: var(--font-inactive);

// Fieldカラー
$field: var(--field);
$field-active: var(--field-active);
$field-border: var(--field-border);