@import "modules/background-image";

.Main-field {
  height: inherit;
  width: calc(100vw - #{$side-width});
  background-color: $field;
  color: $font;
  border-left: 1px solid $field-border;
  position: relative;
  .Memo {
    height: inherit;
    width: inherit;
    .Main-header {
      height: $header;
      display: flex;
      .Title {
        height: inherit;
        width: calc(100% - #{$edit-btn});
      }
    }
    .Memo-field {
      height: calc(100% - #{$header});
      width: 100%;
      position: relative;
      .submit-btn {
        display: block;
        height: 1.2em;
        width: 45px;
        line-height: 1.2em;
        outline: none;
        border: none;
        background-color: inherit;
        color: $font-inactive;
        position: absolute;
        top: 15px;
        right: 15px;
        transition: 0.2s;
        &:hover,
        &:active,
        &:focus {
          background-color: $accent;
          color: $font-accent;
          border-radius: 1em;
        }
        &:active {
          border: 1px solid $accent;
        }
      }
    }
  }
  .Edit-btn {
    height: inherit;
    width: $edit-btn;
    padding:0 15px 0 0;
    line-height: $header;
    text-align: right;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .trash-icon {
      line-height: inherit;
      display: block;
      position: relative;
      z-index: 10;
    }
  }
  .Confirm {
    position: relative;
    z-index: 10;
    .confirm-message {
      height: 1.2em;
      width: 120px;
      position: absolute;
      right: 55px;
      top: calc(#{$header} / 3);
      text-align: center;
      transition: 0.2s;
      &:hover,
      &:active {
        background-color: $caution;
        color: $field-focus;
        border-radius: 1em;
      }
      &:active {
        border: 1px solid $caution;
      }
    }
  }
}

.Title-form,
.Memo-form {
  border: none;
  resize: none;
  outline: none;
  background-color: $field-active;
  color: $font;
  &:focus {
    background-color: $field-focus;
  }
  &::placeholder {
    color: $font-ininactive;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $field-active inset;
    &:focus {
      -webkit-box-shadow: 0 0 0 1000px $field-focus inset;
    }
  }
}


.Title-form {
  height: inherit;
  width: calc(100vw - #{$side-width});
  padding: 0  $edit-btn 0 15px;
  line-height: $header;
  font-size: 24px;
  font-weight: bold;
}
.Memo-form {
  height: 100%;
  width: inherit;
  padding: 15px;
}
.fa-chevron-left {
  display: none;
}


.notifications {
  position: absolute;
  width: 100vw;
  z-index: 20;
  text-align: center;
  -moz-animation: erase 2s ease 0s forwards;
  /* Firefox */
  -webkit-animation: erase 2s ease 0s forwards;
  /* Safari and Chrome */
  -o-animation: erase 2s ease 0s forwards;
  /* Opera */
  animation: erase 2s ease 0s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  .notice {
    background-color: $notice;
    color: $font;
  }
  .alert {
    background-color: $accent;
    color: $caution;
  }
}

@keyframes erase {
  0% {
    height:0;
    // width: inherit;
    overflow:hidden;
  }
  25% {
    height: 17px;
    overflow: visible;
  }
  80% {
    height: 17px;
  }
  100% {
    height:0;
    overflow:hidden;
  }
}
@-webkit-keyframes erase {
  0% {
    height:0;
    // width: inherit;
    visibility: hidden;
  }
  25% {
    height: 17px;
    visibility: visible;
  }
  80% {
    height: 17px;
  }
  100% {
    height:0;
    visibility: hidden;
  }
}