@import "modules/colors";
@import "modules/height_width";

.Side-field {
  height: inherit;
  width: $side-width;
  background-color: $field;
  color: $font;

}

.Side-header {
  height: $header;
  width: inherit;
  border-bottom: 1px solid $field-border;
  line-height: $header;
  .Side-box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    &__menu {
      width: 30px;
      text-align: center;
    }
    &__search {
      .Search-form {
        transition: 0.2s;
        &__area {
          height: 24px;
          width: calc(#{$side-width} - 100px);
          border: 1px solid $font-inactive;
          border-radius: 15px;
          padding: 0 12px;
          outline: none;
          background-color: $field;
          color: $font;
        }
        &__area:hover {
          border: 1px solid $font;
        }
        &__area::placeholder {
          color: $font-inactive;
        }
      }
    }
    &__new {
      width: 30px;
      text-align: center;
    }

  }
}

.Side-content {
  height: calc(100% - #{$header});
  // .Tags {
  //   padding: 5px 15px;
  //   font-size: 13px;
  //   color: $font-inactive;
  //   text-align: end;
  // }
  .Content-list {
    height: 100%;
    overflow: scroll;
    .Content {
      &__title{
        padding: 16px 20px 0;
        font-weight: bold;
        color: $font;
        }
      &__first{
        padding: 0 20px 16px;
        font-size: 12px;
        color: $font-inactive;
      }
      &:hover {
        background-color: $field-focus;
      }
      &:focus {
        background-color: $accent;
      }
    }
  }
}