.Background
  .Background__image
    = image_tag src="owl_moon.PNG", size: "128x128", class: 'image'
    %br
    %br
      icon by
      %b
        =link_to 'Selman Design', "https://selmandesign.com/"
      \/ Adapted
