.wrapper
  .Side-field.Index-side-field
    = render "side-field"
  .Main-field.Index-main-field
    .Background
      .Background__image
        = image_tag src="owl_moon.PNG", size: "128x128", class: 'image'
